{% extends 'base.html' %}

{% block content %}
<div class="container w-75">
    <h2 class="row mt-2">Créer une critique</h2>
    <form class="row mt-1" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container border border-2">
            <h5 class="row">Livre / Article</h5>
            <div class="row">{{ticket_form.as_p}}</div>
        </div>
        <div class="container border border-2 mt-1">
            <h5 class="row">Critique</h5>
            <div class="row">{{review_form.as_p}}</div>
        </div>
        <input class="row w-100 btn btn-primary mt-1 mx-0" type="submit" value="Envoyer">
    </form>
</div>
{% endblock %}