{% extends 'base.html' %}

{% block content %}
<button><a href="{% url 'create_ticket' %}">Demander une critique</a></button>
<button><a href="{% url 'create_review' %}">Créer une critique</a></button>
{% for post in posts %}
<div>
    {% if post.content_type == 'TICKET' %}
        <p>{{ post.user }} a demandé une critique</p>
        <p>{{ post.time_created }}</p>
        <p>{{ post.title }}</p>
        <p>{{ post.image }}</p>
        <button>Créer une critique</button>
    {% elif post.content_type == 'REVIEW' %}
        <p>{{ post.user }} a publié une critique</p>
        <p>{{ post.time_created }}</p>
        <p>{{ post.headline }} - {{ post.rating }}</p>
        <p>{{ post.body }}</p>
        <div>
            <p>Ticket - {{ post.user }}</p>
            <p>{{ post.title }}</p>
            <p>{{ post.description }}</p>
            <p>{{ post.image }}</p>
        </div>
    {% endif %}
</div>
<hr>
{% endfor %}
{% endblock %}