{% extends 'base.html' %}

{% block content %}
<div class="container w-75">
    <h2 class="row mt-2">Abonnements</h2>
    <form class="row mt-1" method="post">
        {% csrf_token %}
        <input class="col-9" type="text" placeholder="Nom d'utilisateur" name="user_name">
        <input class="btn btn-primary col-3" type="submit" value="Envoyer">
    </form>
    {% if error_message %}
    <p class="row mt-1">{{error_message}}</p>
    {% endif %}
    {% for follow in follows %}
    <form class="row mt-1" action="{% url 'delete_follow' follow.id %}" method="post">
        {% csrf_token %}
        <input class="col-9" type="text" value="{{follow.followed_user}}" readonly>
        <input class="btn btn-primary col-3" type="submit" value="Se désabonner">
    </form>
    {% endfor %}
    <h2 class="row mt-2">Abonnés</h2>
    {% for follow in followers %}
    <p class="row border mt-1 mb-0 justify-content-center">{{follow.user}}</p>
    {% endfor %}
</div>
{% endblock %}