{% extends 'base.html' %}

{% block content %}
<div class="container w-75">
    <h2 class="row mt-2">Vos posts</h2>
    {% for post in posts %}
    <div class="row mt-2 p-1 border border-2">
        {% if post.content_type == "TICKET" %}
        {% include 'review/ticket.html' with ticket=post %}
        <a class="btn btn-primary col-3 offset-6" href="{% url 'update_ticket' post.id %}">Modifier</a>
        <a class="btn btn-primary col-3" href="{% url 'delete_ticket' post.id %}">Supprimer</a>
        {% elif post.content_type == "REVIEW" %}
        {% include 'review/review.html' with review=post %}
        <a class="btn btn-primary col-3 offset-6" href="{% url 'update_review' post.id %}">Modifier</a>
        <a class="btn btn-primary col-3" href="{% url 'delete_review' post.id %}">Supprimer</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock %}