{% extends 'base.html' %}

{% block content %}
<h1>Vos posts</h1>
{% for post in posts %}
<div>
    {% if post.content_type == 'TICKET' %}
        <p>Vous avez demandé une critique</p>
        <p>{{ post.time_created }}</p>
        <p>{{ post.title }}</p>
        <p>{{ post.image }}</p>
        <button><a href="{% url 'update_ticket' post.id %}">Modifier</a></button>
        <button><a href="{% url 'delete_ticket' post.id %}">Supprimer</a></button>
    {% elif post.content_type == 'REVIEW' %}
        <p>Vous avez publié une critique</p>
        <p>{{ post.time_created }}</p>
        <p>{{ post.headline }} - {{ post.rating }}</p>
        <p>{{ post.body }}</p>
        <div>
            {% if post.user == user %}
                <p>Ticket - Vous</p>
            {% else %}
                <p>Ticket - {{ post.ticket.user }}</p>
            {% endif %}
            <p>{{ post.ticket.title }}</p>
            <p>{{ post.ticket.description }}</p>
            <p>{{ post.ticket.image }}</p>
        </div>
        <button><a href="{% url 'update_review' post.id %}">Modifier</a></button>
        <button><a href="{% url 'delete_review' post.id %}">Supprimer</a></button>
    {% endif %}
</div>
<hr>
{% endfor %}
{% endblock %}