{% extends 'base.html' %}

{% block content %}
    <h2 class="text-center mt-5">Modifier votre ticket</h2>
    <div class="row w-75 m-auto p-2">
        <form method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            {% if ticket.image %}
                <img class="col-3" src="{{ ticket.image.url }}">
            {% endif %}
            <input class="col-3 offset-9 btn btn-primary" type="submit" value="Envoyer">
        </form>
    </div>
{% endblock %}